.info {
    @extend %box;
    background-color: $first-background-color;
}
.info__box {
    @extend %container;
    padding-top: 120px;
    padding-bottom: 107px;
}

.site__title {
    margin-bottom: 18px;
}

.site__info {
    @extend %list;
    text-align: center;
}

.info__list:not(:last-child) {
    margin-bottom: 50px;
}