body {
    margin: 0;
    font-family: $main-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background-color: $main-background-color;
    color: $main-color;
}

a {
    text-decoration: none;
    color: $second-color;
}

h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: $second-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.2;
    color: $main-color;
    text-align: center;
}
