%list {
    margin: 0;
    padding: 0;
    list-style: none;
}

%container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 970px;
    // outline: 2px solid tomato;
}

%link {
    font-family: $second-font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    color: $second-color;

    &:hover,
    &:focus,
    &:active {
        color: $main-color;
    }
}