$main-color: #070707;
$second-color: #828282;
$main-background-color: #E5E5E5;
$first-background-color: #F6F6F6;
$second-background-color: #FFFFFF;
$main-font-family: 'Gilroy-medium', sans-serif;
$second-font-family: 'Gilroy-bold', sans-serif;


// $main-background-color: #E5E5E5;
// $first-background-color: #F6F6F6;
// $second-background-color: #FFFFFF;